@model ToothCrystal.Classes.FAQ.FaqObject

@{
    ViewBag.Title = "Delete";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h4>Are you sure you want to delete this?</h4>

@if (!String.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
   <div class="panel panel-danger">
    <div class="panel-heading">Error</div>
    <div class="panel-body">
        @ViewBag.ErrorMessage
    </div>
</div> 
}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Q:</strong> @Html.DisplayFor(modelItem => Model.Question)
    </div>
    <div class="panel-body">
        <strong>A:</strong> @Html.DisplayFor(modelItem => Model.Answer)
    </div>
</div>

<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
